PORT=3000

# Create a DB at neon.com or run: docker compose up -d
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/queue_management_system
DATABASE_URL=

JWT_SECRET=# generate with: openssl rand -hex 32
